/* Generals */
html , body {
  height: 100%;
}

body{
  color: #1573E6;
  margin: 0;
  padding: 0;
  background-color: #1573E6;
  font-family: 'lato', sans-serif;
}

.wrapper{
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.title{
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

/* Header */
.hero{
  width: 100%;
  position: fixed;
  top: 0;
  background: #ffffff;
  font-size: 18px;
  padding: 5px;
  padding-bottom: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  z-index: 10;
  box-sizing: border-box;
}

.navbar__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav{
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li{
  padding: 10px;
  list-style: none;
}

.link{
  color: #1573E6;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.link:hover{
  color: #ffffff;
  background: #1573E6;
  padding-bottom: 10px;
  border-bottom: 5px solid #1573E6;
}

.btn{
  text-decoration: none;
  padding: 5px;
	border-radius: 5px;
	color: #ffffff;
	background: #1573E6;
	box-shadow:	0 1px 2px rgba(0,0,0,0.07),	0 2px 4px rgba(0,0,0,0.07),	0 4px 8px rgba(0,0,0,0.07),	0 8px 16px rgba(0,0,0,0.07),	0 16px 32px rgba(0,0,0,0.07),	0 32px 64px rgba(0,0,0,0.07);
  border: 2px solid #1573E6;
}

.btn:hover{
  color: #1573E6;
	background: #ffffff;
  border: 2px solid #1573E6;
}

.btn a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
  color: #fff;
}

.btn a:hover{
  color: #1573E6
}


.delete_user{
	color: #ffffff;
	background: red;
  border: 2px solid red;
}

.delete_user:hover{
  color: red;
  border: 2px solid red;
}

.active{
  padding-bottom: 5px;
  border-bottom: 3px solid #1573E6;;
}

label , input{
  margin-bottom: 10px;
}

legend{
  margin-bottom: 20px;
}

/* Footer */
footer{
  height: 45px;
  width: 100%;
  background: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  box-sizing: border-box;
}

/* Home */
.home{
  margin: 80px auto 30px auto ;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 60%;
  padding: 25px 15px;
  position: relative;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.responsive-table .table-header {
  color: #ffffff;
  background-color: #1573E6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.responsive-table  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.responsive-table  .table-row:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.responsive-table  .col-1 {
    flex-basis: 20%;
}

.responsive-table  .col-2 {
    flex-basis: 30%;
}

.responsive-table  .col-3 {
    flex-basis: 20%;
}

.responsive-table  .col-4 {
    flex-basis: 30%;
}

/* Wallet */
.wallet{
  margin: 80px auto 30px auto ;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 60%;
  padding: 50px 5%;
  box-sizing: border-box;
}

.assets-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.coin{
  padding: 5%;
  margin-bottom: 5px;
  border-radius: 10px;
  width: 50%;
  box-sizing: border-box;
}

.coin:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #F8FAFD;
}

.wallet .center{
  text-align: center;
}

.coin .info{
    display: flex;
}

.coin .coin__content{
  width: 50%;
  text-align: center;
}

.coin button , .delete_coin{
  text-align: right;
  background-color: inherit;
  border: 0;
}

.coin .delete_coin a {
  color: red;
  text-decoration: none;
}

.wallet .bull{
  color: limegreen;
}

.wallet .bear{
  color: red;
}

/* Wallet Form */
.form-box{
  min-width: 120px;
  width: 15%;
  position: fixed;
  left: 30px;
  top:50%;
  transform: translateY(-50%);
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 15px 10px;
  z-index: 10;
}

.form-box-2{
  left: auto;
  right: 30px;
}

.form-box .form-legend{
  font-size: 16px;
  font-weight: bold;
}

.form-asset {
  display: flex;
  flex-direction: column;
  font-size: 17px;
}

.form-asset .input{
  border: 0;
  border-bottom: 2px solid #1573E6;
}

.form-asset .input:focus-visible{
  outline: inherit;
}

.tooltip{
  font-family: 	'Brush Script MT';
  font-size: 24px;
  padding: 5px;
  position: absolute;
  display: inline-block;
  right: 5px;
  top: -5px;
  height: 15px;
}

.tooltiptext{
  font-family: 'lato', sans-serif;
  font-size: 14px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: #1573E6;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  border: 1px solid #ffffff;

  /* Position the tooltip */
  bottom: 100%;
  left: -50px;
  margin-left: -80px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
